<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="franka_sorting_setup">
  <link name="world"/>
  
  <xacro:include filename="$(find panda_description)/urdf/panda_arm.xacro"/>
  <xacro:include filename="$(find panda_description)/urdf/panda_gripper.xacro"/>
  <xacro:include filename="$(find franka_sorting)/description/camera_only.urdf.xacro"/>


    <xacro:panda_arm base_parent="world"/>

    <xacro:panda_gripper wrist_flange="panda_link8"/>
    
    <joint name="world_to_camera" type="fixed">
    	<parent link="world"/>
    	<child link="camera_link"/>
    	<origin xyz="0.8 0.0 2.0" rpy="0 1.5708 0"/>
    </joint>
    
    <ros2_control name="GazeboSimSystem" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>
    
      <joint name="panda_joint1">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="panda_joint2">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="panda_joint3">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="panda_joint4">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="panda_joint5">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="panda_joint6">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="panda_joint7">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="panda_finger_joint1">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="panda_finger_joint2">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  <gazebo>
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find franka_sorting)/config/controllers_effort.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
